
# Convex Configuration
CONVEX_URL=https://your-project.convex.cloud

# Clerk Authentication
CLERK_JWT_ISSUER_DOMAIN=https://your-clerk-domain.accounts.dev

# AI Models 
# introduce other models as you need
GROQ_API_KEY=gsk_your_key_here
GOOGLE_API_KEY=AIza_your_key_here


# Upstash Redis
UPSTASH_REDIS_REST_URL=https://your-redis.upstash.io
UPSTASH_REDIS_REST_TOKEN=your_token_here

# Inngest
INNGEST_EVENT_KEY=key-prod-your-event-key-here
INNGEST_SIGNING_KEY=signkey-prod-your_key_here

# System Auth
SYSTEM_CORE_SECRET=sk_core_your_secret_here